@import '../partials/variables';
@import '../partials/mixins';

.container {
  margin: auto;
}

.main-nav {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: $secondary-font;
  font-weight: bold;
  background: black;

  input[type="search"] {
    border-radius: 3px;
    padding-left: 10px;
  }

  button[type="submit"] {
    margin-left: -35px;
    @include remove-props(border-right, border-top, border-bottom);
  }

  > * {
    margin: auto 20px;
    font-size: 1.1rem;
  }

  .nav-item:first-child {
    margin-right: auto;
    font-size: 1.6rem;
  }

}
