@import '../partials/variables';
@import '../partials/mixins';

.container {
  margin: auto;
}

.main-nav {
  padding-top: 15px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
  font-family: $primary-font;
  background: $primary-blue;

  .title {
    color: $primary;
    font-family: $secondary-font;
    margin-right: auto;
    font-size: 1.6rem;
    letter-spacing: .05rem;
    color: $primary-yellow;
    text-shadow: 1px 1px 1px #000;
  }

  input[type="search"] {
    border-radius: 3px;
    padding-left: 10px;
  }

  button[type="submit"] {
    margin-left: -33px;
    border-radius: 0 3px 3px 0;
    height: 22px;
    @include remove-props(border-right, border-top, border-bottom);

    &:hover {
      background: $primary-green;
      color: $primary;
      cursor: pointer;
    }
  }

  .nav-item a:hover {
    color: black;
  }

  > * {
    margin: auto 20px;
    font-size: 1.1rem;
  }

}
