@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

$primary: #FFFBFA;
$primary-blue: #54DEFD;
$secondary-blue: #49C6E5;
$primary-green: #00BD9D;
$secondary-green: #8BD7D2;

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;