@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

$primary-bg: #FFFBFA;

$primary-text: #54DEFD;
$secondary-text: #00BD9D;
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Raleway', sans-serif;