@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto|Titan+One|Anton|Lato');

$primary: #FFFBFA;
$ocean: #54DEFD;
$lemon: #FFFF66;
$watermelon: #FD5B78;
$bs-success: #28a745;
$bs-danger: #dc3545;

$primary-font: 'Anton', sans-serif;
$secondary-font: 'Titan One', sans-serif;
$third-font: 'Lato', sans-serif;

