@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.bar-container {
  display: none;
  cursor: pointer;
  vertical-align: middle;
  position: absolute;
  margin-left: 120px;
  transition: all 1s;

  @include medium-to-small() {
    display: inline-block;
  }
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: $lemon;
  margin: 4px 0;
  transition: all 0.4s;
}

.bar-container.open {
  position: block;
  margin-left: 30px;
  transition: all 1s;
}

.open .bar1 {
  width: 25px;
  transform: rotate(-45deg) translate(-5px, 6px);
}

.open .bar2 {opacity: 0;}

.open .bar3 {
  width: 25px;
  transform: rotate(45deg) translate(-6px, -8px);
}

