@import '../../styles/partials/mixins';

.page {
    margin-top: 80px;
    @include medium() {
      margin-left: 0;
      transition: all 1s;
    }
  
    @include small() {
      margin-left: 0;
    }
  }
  
  .page.open {
    @include medium() {
      transition: all 1s;
      padding-left: 250px;
      margin-top: 0;
    }
  }