.card-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.card {
  width: 25%;
  margin: 20px;
  display: inline-block;

  &:first-child {
    margin-left: 40px;
  }

  &:last-child {
    margin-right: 40px;
  }
}