@import '../../../styles/partials/variables';

.card {
  background: $primary;
  border-radius: 3px;
  width: 25%;
  max-width: 350px;
  margin: 20px;
  min-width: 200px;
  display: inline-block;
  padding-bottom: 16px;
}

.card:first-child {
  margin-left: 0;
}

.card-body {
  padding: 5px;
  text-align: center;
}

.input-edit {
  position: relative;

  &:hover {
    .input-icon {
      display: inline-block;
    }
  }
}

.input-icon {
  display: none;
  position: absolute;
  top: 15px;
  right: 25px;
}