@import '../../../styles/partials/variables';
@import '../../../styles/partials/mixins';

.dropdown-container {
  right: 7px;
  position: absolute;
  @include medium-to-small() {
    left: 0;
    right: auto;
    position: static;
  }
}
.dropdown-body {
  background: $watermelon;
  color: $primary;
}