@import '../partials/variables';
@import '../partials/mixins';

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: $primary-font;
  background: radial-gradient(#444, #000);

  @include medium() {
    font-size: 14px;
  }
  
  @include small() {
    font-size: 12px;
  }
}

html, body {
  padding: 0;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: $ocean;
}

a {
  text-decoration: none;
  color: $watermelon;
}

li {
  list-style-type: none;
}

input[type="text"], input[type="search"], input[type="password"] {
  border: none;
}